{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'title.word_list'|trans }}</h3>
            </div>
            <div class="panel-body">

                {% for word in words %}
                    <p><a href="{{ path('app_main_show',{'word_id':word.id}) }}">{{ word.translate(locale).text }}</a></p>
                {% endfor %}

                <h3>{{ 'title.from_add_word_title'|trans }}</h3>
                {{ form(formWord) }}

            </div>
        </div>
    </div>
{% endblock %}
