{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'title.show_word_title'|trans }}:{{ word.translate(CurentLocale).text }}</h3>
            </div>
            <div class="panel-body">

                {% for translation in word.translations %}

                    {% if translation.locale != CurentLocale%}
                        <h3><b>{{ 'title.translation_into'|trans }}: {{ translation.locale }}  </b>{{ translation.text }}</h3>
                    {% endif %}

                {% endfor %}

                {{ form(formWords) }}

            </div>
        </div>
    </div>

{% endblock %}
